body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    margin-top: 20vh;
    gap:20vh;
}

#app {
    width:80%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    margin-bottom: 20px;
}

.radio-group {
    margin-top: 20px;
}

input[type="radio"] {
    margin-right: 5px;
}